# Configurações do Banco de Dados PostgreSQL
POSTGRES_DB=controle_notas
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Configurações do Backend Spring Boot
SPRING_DATASOURCE_URL=jdbc:postgresql://db-prod:5432/controle_notas
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres
SERVER_PORT=8080

# Portas dos Servidores (Produção Docker)
PROD_FRONTEND_PORT=8090
PROD_BACKEND_PORT=8091
PROD_DB_PORT=5438
